{#
* @author SnoringNinja
* @site https://snoring.ninja
#}
<!doctype HTML>
{{ include('partials/header.twig') }}
<body>
    {{ include('partials/nav.twig') }}

    <div class="container">
        {% if not is_guest %}
            <div class="username">Welcome, {{ user_name }}!</div>
        {% else %}
            <div class="username">Welcome, Guest!</div>
        {% endif %}
        {% if market_items|length > 0 %}
            <table>
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Offer Type</th>
                        <th>Item</th>
                        <th>Amount</th>
                        <th>Price</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in market_items %}
                        <tr>
                            <td>{{ entry.forum_username }}</td>
                            <td>{{ entry.offer_type }}</td>
                            <td>{{ entry.item }}</td>
                            <td>{{ entry.amount }}</td>
                            <td>{{ entry.price }}</td>
                            <td>{{ entry.post_date|date("F j, Y / g:i a") }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            There are no offers available at this time
        {% endif %}
    </div>

    <script
            src="//code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
    </script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous">
    </script>

    <!--
    <script src="javascript/validate.js"></script>
    <script src="javascript/autocomplete.js"></script>
    -->
    <noscript>
        <style type="text/css">
            wrapper {display: none;}
            .nsText {text-align: center;}
        </style>
        <div class="nsText">
            Please enable JavaScript to use the market.
        </div>
    </noscript>
</body>
</html>