{#
* @author SnoringNinja
* @site https://snoring.ninja
#}
<!doctype HTML>
{{ include('partials/header.twig') }}
<body>
    {{ include('partials/nav.twig') }}

    <div class="container">
        {% if not is_guest %}
            <div class="username">Welcome, {{ user_name }}!</div>
        {% else %}
            <div class="username">Welcome, Guest!</div>
        {% endif %}
        {% if market_items|length > 0 %}
            <table>
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Offer Type</th>
                        <th>Item</th>
                        <th>Amount</th>
                        <th>Price</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in market_items %}
                        <tr>
                            <td>{{ entry.forum_username }}</td>
                            <td>{{ entry.offer_type }}</td>
                            <td>{{ entry.item }}</td>
                            <td>{{ entry.amount }}</td>
                            <td>{{ entry.price }}</td>
                            <td>{{ entry.post_date|date("F j, Y / g:i a") }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            There are no offers available at this time
        {% endif %}
    </div>

    {{ include('partials/footer.twig') }}
</body>
</html>